body {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

#vidBox {
  display: flex;
  justify-content: center;
}

iframe {
  border: 1px solid black;
  width: 640px;
  height: 480px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  border: 1px solid black;
  margin: 10px;
}