body {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

#vidBox {
  display: flex;
  justify-content: center;
}

iframe {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  border: 1px solid black;
  margin: 10px;
}